<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <!--        <File name="FILE" fileName="logfile.log" append="true">-->
        <!--            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %C{2}  - %m%n"/>-->
        <!--        </File>-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="serviceNow" level="debug"/>

        <Root level="debug">
            <!--<AppenderRef ref="STDOUT"/>-->
            <!--  <AppenderRef ref="FILE"/>-->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>